/* основной цвет текст #8D96BD */
/* цвет заголовков #3D4F9F */
/* вторичный цвет текста #F5F8FF */
/* цвет акцента #6188FF */

:root {
  --primary-color-text: #8d96bd;
  --title-color: #3d4f9f;
  --secondary-bg-color: #f5f8ff;
  --accent-color: #6188ff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* =============== UTILITY =============== */
.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}

.title-appeal {
  font-family: "Quicksand";

  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;

  color: var(--title-color);
}

.title-accent {
  font-weight: 300;
}

.description {
  color: var(--primary-color-text);
  line-height: 1.9;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.active {
  color: #5e81fe;
  font-weight: 700;
}

.image {
  display: block;
}

.button {
  min-width: 113px;
  padding: 13px 15px;

  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  color: #3a79ff;

  background: #d2e1ff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =============== END UTILITY =============== */

/* =============== HEADER =============== */
.header-page {
  border-bottom: 1px solid #d8e3fe;
}

.header-page .container,
.footer .footer-head {
  display: flex;
  align-items: center;
}

.header-page .logo,
.footer .logo {
  margin-right: 73px;
  width: 26px;
  height: 26px;
  fill: #5e81fe;
}

.header-page .nav-list,
.footer .nav-list {
  display: flex;

  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.05em;
  color: #697ca6;

  text-shadow: 0px 0px 5px #e6e6e6;
}

.header-page .nav-item:not(:last-child),
.footer .nav-item:not(:last-child) {
  margin-right: 42px;
}

.header-page .nav-item > .link {
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 33px;
}

.header-page .nav-item > .link:hover,
.header-page .nav-item > .link:focus,
.footer .nav-item > .link:hover,
.footer .nav-item > .link:hover {
  color: #5e81fe;
}

.header-page .social-list,
.footer .social-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 44px;
}

.header-page .social-item:not(:last-child),
.footer .social-item:not(:last-child) {
  margin-right: 35px;
}

.header-page .social-link,
.footer .social-link {
  display: block;
  color: #b6bac7;
}

.header-page .social-link:hover,
.header-page .social-link:focus,
.footer .social-link:hover,
.footer .social-link:focus {
  color: var(--accent-color);
}

.header-page .social-icon,
.footer .social-icon {
  fill: currentColor;
}

/* =============== END HEADER =============== */

/* =============== HERO =============== */
.hero {
  padding-top: 90px;
  padding-bottom: 28px;
  min-height: 570px;
  text-align: center;
  background-image: url(../images/transparency-hero.png),
    url(../images/hero.png);
  background-size: cover;
}

.hero .title-appeal {
  font-size: 48px;
  margin-bottom: 28px;
}

.hero .description {
  display: inline-block;
  max-width: 500px;
  margin-bottom: 20px;
  text-align: center;
}

.hero .play {
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.23077 4.17675C10.2564 4.76486 10.2564 6.23514 9.23077 6.82325L2.30769 10.793C1.28205 11.3811 0 10.646 0 9.46976V1.53024C0 0.354015 1.28205 -0.381125 2.30769 0.206988L9.23077 4.17675Z' fill='%235E81FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
/* =============== END HERO =============== */

/* =============== PARTNER =============== */
.partner {
  padding-top: 60px;
  padding-bottom: 60px;
}
.partner .partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner .partner-item:not(:last-child) {
  margin-right: 77px;
}

.partner .partner-item > .link {
  color: #d6dae5;
}

.partner .partner-item > .link:hover,
.partner .partner-item > .link:focus {
  color: #5982e7;
}

.partner .partner-icon {
  fill: currentColor;
}

/* =============== END PARTNER =============== */

/* ===============  APP =============== */
.app {
  background-color: #f5f8ff;
}

.app .container {
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url(../images/illustration.png);
  background-repeat: no-repeat;
  background-position: 105% -150%;
}

.app .section-title {
  margin-bottom: 27px;
}

.app .title-appeal {
  margin-bottom: 27px;
  font-size: 36px;
}

.app .description {
  max-width: 413px;
  margin-bottom: 47px;
}

.app .button {
  padding-top: 13px 25px;
}

.app .button.left {
  color: #ffffff;

  background-color: #4c85ff;
  border: 1px solid #4c85ff;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}

.app .button.right {
  color: #adb4d2;
  background-color: transparent;
  border: 1px solid #d1d1e4;
  border-radius: 2px;
  margin-left: -5px;
}

/* =============== END APP =============== */

/* =============== ABOUT US =============== */
.about-us {
  padding-top: 170px;
  padding-bottom: 170px;
}

.about-us .container {
  text-align: center;
  position: relative;
}

.about-us .clouds {
  position: absolute;
}

.about-us .cloud-1 {
  width: 55px;
  height: 26px;
  top: -30px;
  left: 110px;
  background-image: url(../images/clouds/1.svg);
}

.about-us .cloud-2 {
  width: 114px;
  height: 50px;
  top: 30px;
  right: 0;
  background-image: url(../images/clouds/2.svg);
}

.about-us .cloud-3 {
  width: 116px;
  height: 62px;
  bottom: 30px;
  left: 11px;
  background-image: url(../images/clouds/3.svg);
}

.about-us .title-appeal {
  margin-bottom: 90px;
}

.about-us .about-us-list {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  font-family: "Open Sans";
}

.about-us-list .about-us-item {
  max-width: 145px;
}

.about-us-list .about-us-item:not(:last-child) {
  margin-right: 67px;
}

.about-us-list .about-us-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 69px;
  margin: 0 auto 30px;

  border-radius: 50%;
  background-color: #f1f5ff;
}

.about-us-list .item-title {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
  color: #4074f8;
}

.about-us-list .item-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.7;

  color: #adb3cb;
}

.about-us-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-button .red {
  color: #d43f3f;
  background-color: #ffd7d7;
}

.about-us-button .decoration {
  display: flex;
  align-items: center;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.7;
  color: #adb3cb;
  margin-left: 16px;
  margin-right: 16px;
}

.about-us-button .decoration::before,
.about-us-button .decoration::after {
  content: "";

  width: 15px;
  height: 1px;
  background-color: #dae4fe;
}

.about-us-button .decoration::before {
  margin-right: 16px;
}

.about-us-button .decoration::after {
  margin-left: 16px;
}

/* =============== END ABOUT US =============== */

/* =============== STATS =============== */

.stats-list {
  display: flex;
  align-items: center;
}

.stats-list .stats-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 66px;
  padding-bottom: 66px;
}

.stats-list .stats-item:nth-child(odd) {
  align-items: flex-end;
  padding-right: 90px;

  text-align: right;
  color: #ffffff;
  background-image: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.stats-list .stats-item:nth-child(even) {
  padding-left: 90px;

  text-align: left;
  color: #5e80ff;
  background-image: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
}

.stats-item .number {
  margin-top: 24px;
  font-size: 48px;
  line-height: 1.7;
}

.stats-item .stats-description {
  max-width: 260px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}
/* =============== END STATS =============== */

/* =============== GET STARTED =============== */
.get-started {
  background-image: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.get-started .container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;

  text-align: center;
}

.get-started .cloud-1,
.get-started .cloud-2 {
  position: absolute;
  background-repeat: no-repeat;
}

.get-started .cloud-1 {
  width: 300px;
  height: 319px;
  top: 70px;
  left: 0;
  background-image: url(../images/clouds/get-started-left.svg);
}

.get-started .cloud-2 {
  width: 300px;
  height: 200px;
  bottom: 0;
  right: 0;
  background-image: url(../images/clouds/get-started-right.svg);
  background-size: 300px 150px;
}

.get-started .section-title {
  color: #ffffff;
}

.get-started .title-appeal {
  margin-bottom: 28px;

  line-height: 1.25;
  font-size: 48px;
  color: #ffffff;
}

.get-started .description {
  display: inline-block;
  margin-bottom: 28px;

  max-width: 710px;
  color: #ffffff;
}

.get-started-button .button.left {
  color: #565f82;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px #6480e8;
  border: 1px solid #ffffff;
}

.get-started-button .button.right {
  margin-left: -5px;
  color: #c7d3ff;
  background-color: transparent;
  border: 1px solid #a0b4ff;
}
/* =============== END GET STARTED =============== */

/* =============== OUR RESOURCES =============== */
.our-resources {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #f5f8ff;
}

.our-resources .container {
  padding-left: 26px;
  padding-right: 26px;
  margin: 0 auto;
}

.our-resources .title-appeal {
  margin-bottom: 90px;
}

.our-resources .section-title,
.our-resources .title-appeal {
  text-align: center;
}

.our-resources .slider-card {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.our-resources .arrow {
  width: 23px;
  height: 15px;
  background-repeat: no-repeat;
}

.our-resources .arrow.left {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 9.5L2 9.5M2 9.5L9.81132 17M2 9.5L9.81132 2' stroke='%23A8B4E5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  cursor: pointer;
}

.our-resources .arrow.right {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 9.5H25M25 9.5L17.1887 2M25 9.5L17.1887 17' stroke='%23A8B4E5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  cursor: pointer;
}

.our-resources .slider {
  display: flex;
  max-width: 958px;
  padding: 65px 35px;

  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
}

.slider .slider-image {
  display: flex;
  margin-right: 65px;
}

.slider-image .slider-item:first-child {
  margin-right: 12px;
}

.slider-image .top {
  margin-bottom: 14px;
}

.slider .slider-title {
  margin-bottom: 30px;

  font-family: "Quicksand";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  color: var(--title-color);
}

.slider .description {
  margin-bottom: 40px;

  line-height: 1.9;
}

.slider-description .button:last-child {
  margin-left: 8px;
  color: #a6b6da;
  background-color: transparent;
  border: 1px solid rgba(188, 199, 255, 0.75);
}

.our-resources .dots {
  display: flex;
  justify-content: center;
}

.our-resources .dots-item {
  width: 8px;
  height: 8px;

  background-color: #d1d6e3;
  border-radius: 50%;

  cursor: pointer;
}

.our-resources .dots-item:not(:last-child) {
  margin-right: 12px;
}

.our-resources .dots-item.active {
  background-color: #5283ff;
}

/* =============== END OUR RESOURCES =============== */

/* =============== NEWSLETTER =============== */
.newsletter {
  border-top: 1px solid #d8e3fe;
  border-bottom: 1px solid #d8e3fe;
  padding-top: 118px;
  padding-bottom: 118px;
}

.newsletter .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter .content {
  max-width: 330px;
  margin-right: 80px;

  font-family: "Quicksand", sans-serif;

  font-size: 13px;
  line-height: 1.23;
}

.newsletter .title-appeal {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}

.newsletter .description {
  font-family: "Roboto", sans-serif;
}

.newsletter .email {
  min-width: 280px;
  margin-right: 14px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;

  color: #7a85ad;

  background: #efeff7;
  border: none;
  border-radius: 5px;
}

.newsletter .email::placeholder {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  color: #7a85ad;
}

.newsletter .button {
  padding: 21px 62px;
  min-width: 184px;

  color: #ffffff;
  background-color: #4d6ce1;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
}
/* =============== END NEWSLETTER =============== */

/* =============== FOOTER =============== */
.footer .container {
  display: block;
  padding-top: 90px;
  padding-bottom: 90px;
}

.footer-head {
  margin-bottom: 28px;
}

.footer .copy {
  margin-left: 100px;

  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: #aeb8d0;
}
/* =============== END FOOTER =============== */
